* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat Alternates', sans-serif;
}
p {
  font-family: 'Audiowide', cursive;
}
h2 {
  padding: 20px 0;
  font-style: italic;
  text-decoration: underline;
}
.page-wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  font-size: 18px;
}
.dice {
  display: inline-block;
  margin: 20px;
}
.dice img {
  width: 100%;
}
.divider {
  width: 100%;
  margin: 30px auto;
  height: 6px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.mult-dice {
  width: 70%;
  margin: auto;
}
